<header>
  <div id='btn-menu' (click)="emitEventBtnMenu($event)" [class.active]="asideMenuVisible" class="btn-nav"><i class="fa fa-bars" aria-hidden="true"></i></div>
  <a *ngIf="!coreService.isAuthenticated" class='btn-nav' routerLink="/" ><i class="fa fa-home" aria-hidden="true"></i> {{ ts.strings.home }}</a>
  <div *ngIf="coreService.isAuthenticated">
    <a *ngIf="!store.galaxy" class='btn-nav' routerLink="/galaxies" routerLinkActive="active"><i class="fa fa-list-ul" aria-hidden="true"></i> {{ ts.strings.selectGalaxy }}</a>
    <div *ngIf="store.galaxy">
      <a class='btn-nav' routerLink="/galaxy" routerLinkActive="active" [title]="ts.strings.galaxy"><i class="fa fa-map" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/colonies" routerLinkActive="active" [title]="ts.strings.colonies"><i class="fa fa-university" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/civilizations" routerLinkActive="active" [title]="ts.strings.civilizations"><i class="fa fa-users" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/fleets" routerLinkActive="active" [title]="ts.strings.fleets"><i class="fa fa-space-shuttle" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/planets" routerLinkActive="active" [title]="ts.strings.planets"><i class="fa fa-globe" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/commerce" routerLinkActive="active" [title]="ts.strings.commerce"><i class="fa fa-exchange" aria-hidden="true"></i></a>
      <a class='btn-nav' routerLink="/research" routerLinkActive="active" [title]="ts.strings.research"><i class="fa fa-flask" aria-hidden="true"></i></a>
    </div>
  </div>
  <div>
    <div *ngIf="!coreService.isAuthenticated">
      <a class='btn-nav' routerLink="/login" routerLinkActive="active"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ ts.strings.login }}</a>
      <a class='btn-nav'  routerLink="/register" routerLinkActive="active"><i class="fa fa-id-card" aria-hidden="true"></i> {{ ts.strings.register }}</a>
    </div>
    <a *ngIf="coreService.isAuthenticated" class='btn-nav'><i class="fa fa-user" aria-hidden="true"></i> {{ store.session.user.email }}</a>
    <a *ngIf="coreService.isAuthenticated" class='btn-nav' (click)="coreService.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ ts.strings.logout }}</a>
  </div>
</header>
