:host{
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  height: 80%;
}

.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

.title{
  text-align: center;
  font-size: 18px;
}

.close-button{
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top:0px;
  right:0px;
}
.close-button:hover{
  color: red;
}
