h1 {
  text-align: center;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td, th{
  padding: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
tr{
  background-color: rgba(0, 255, 0, 0.1);
}
tbody>tr:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}
th.sortable{
  cursor: pointer;
}
tr.colonized {
  background-color: rgba(255, 0, 0, 0.1);
}
.container{
  height: 100%;
  overflow-y: scroll;
}
