<div class="container box" [class.maximized]="maximized">
    <div class="header">
      <div class="title">{{ title }}</div>
      <div class="close-button" (click)="closeButtonClick();"><i class="fa fa-times" aria-hidden="true"></i></div>
      <div *ngIf="!maximized" class="maximize-button" (click)="maximizeButtonClick();"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
      <div *ngIf="maximized" class="restore-button" (click)="restoreButtonClick();"><i class="fa fa-window-restore" aria-hidden="true"></i></div>
    </div>
    <div class="body">
      <div>
          <i class="fa fa-arrow-left navigate-btn" aria-hidden="true" [title]="ts.strings.previousFleet" (click)="previousFleet()"></i>
          &nbsp;
          <i class="fa fa-arrow-right navigate-btn" aria-hidden="true" [title]="ts.strings.nextFleet" (click)="nextFleet()"></i>
      </div>
      <div>Id: {{ fleet.id }}</div>
      <div>{{ ts.strings.civilization }}: {{ fleet.civilization.name }}</div>
      <div class='link' (click)="clickStarSystem()">{{ ts.strings.destination }}: {{ starSystemName }}</div>
      <div>{{ ts.strings.status }}: {{ getFleetStatus() }}</div>
      <div *ngIf="fleet.isTravelling" class='link' (click)="clickOriginStarSystem()">{{ ts.strings.origin }}: {{ originStarSystemName }}</div>
      <hr>
      <h4>{{ ts.strings.ships }}</h4>
      <div *ngIf="shipsLoaded">
        <div *ngFor="let ship of fleet.ships">{{ ts.strings.ship + ' ' + ship.id + ': ' + ship.modelName }} <i *ngIf="ship.canColonize" class="fa fa-globe pointer" aria-hidden="true" [title]="ts.strings.colonyShip"></i> <i *ngIf="ship.canFight" class="fa fa-fighter-jet pointer" aria-hidden="true" [title]="ts.strings.fighterShip"></i> <i *ngIf="!ship.canColonize && !ship.canFight" class="fa fa-eye pointer" aria-hidden="true" [title]="ts.strings.explorerShip"></i> </div>
      </div>
    </div>
  </div>
