.container{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 400px;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.9);
}

.navigate-btn {
  cursor: pointer;
}
.navigate-btn:hover {
  filter: brightness(200%);
}
.container.maximized{
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.title{
  text-align: center;
  font-size: 18px;
}

.close-button{
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top:0px;
  right:0px;
}
.close-button:hover{
  color: red;
}

.maximize-button, .restore-button{
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top:0px;
  right:20px;
}
.maximize-button:hover, .restore-button:hover{
  color: yellowgreen;
}

.body{
  height:100%;
  width: 100%;
}

.tabs-header{
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn{
  display: inline-block;
  padding: 0.3em;
  cursor: pointer;
}

.tab-btn.active{
  filter: brightness(150%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn:hover{
  filter: brightness(150%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

