:host {
    position: absolute;
    top: var(--header-height);
    left: 0;
    height: calc(100% - var(--header-height) - var(--footer-height));
    z-index: 1000;
}
#container {
    position: absolute;
    width: var(--aside-menu-width);
    height: 100%;
    background-color: rgb(50, 50, 50);
    padding-top: 1em;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    color: rgb(200, 200, 200);
}
li:hover{
    background-color: black;
    color: white;
}
a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    border:none;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: rgb(200, 200, 200);
}